@import './../../vars';

.button-of-trust {
    width: 50%;
    padding: $MARGIN 0;
    border: 3px solid $white;
    margin: $SIZE;
    background: $primary-color;
    border-radius: 0;
    color: $white;
    transition: border-radius 0.25s;

    &:hover {
        background: $primary-color;
        border-color: $white;
        border-radius: 10px;
    }

    &:hover:not(:disabled) {
        cursor: pointer;
    }

    &:not(:disabled):not(.disabled):active {
        background: white;
        border-color: $white;
        border-radius: 10px;
        color: $primary-color;
    }

    &:not(:disabled):not(.disabled):active:focus {
        border-color: $white;
        box-shadow: none;
        outline: none;
    }
}
