@import './../../../vars';

.navbar-of-trust {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    padding: $MARGIN 0;
    border: 2px solid $primary-color-light;
    margin: $SIZE;
    background: $primary-color-light;
    border-radius: 10px;
}
