$body-bg: transparent;
$primary: #372873;

@import '~bootstrap/scss/bootstrap.scss';
@import './../src/main.scss';

/* DEFAULT SIZE */
$SIZE: 1rem;

/* DEFAULT VALUES */
$PADDING: $SIZE * 0.5;
$MARGIN: $PADDING;

/* BREAKPOINTS */
$bp-small: 767px;
$bp-medium: 992px;
$bp-large: 1200px;

/* COLORS */
$primary-color: #7955ff;
$secondary-color: #007bff;
$primary-color-notice: #f7c500;

$warning: $red;

$primary-color-darkest: darken(desaturate($primary-color, 40%), 50%);
$primary-color-dark: darken($primary-color, 20%);

$primary-color-light: lighten($primary-color, 40%);

$text-color: $white;
$text-shadow: darken($text-color, 90%);

/* DEFAULT ELEMENT SIZE */
$size-default: $SIZE;

/* FONT-SIZE */
$fs-pixels: 16px;

$fs-scale: 1;
$fs-value: 1rem;

$fs-default: $fs-value * $fs-scale;

/* PADDING AND MARGIN */
$padding-vertical: $PADDING 0;
$padding: $PADDING $PADDING * 2;
